body {

    background-color: rgb(36,52,71);

}

#nome {

    color :white;
    font-size: 1.5rem;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 17rem;
    margin-bottom: 0.3rem;
    
}

#user {

    color : #6E7E7D;
    font-size: 20px;
    font-family:inherit;
    margin-left: 17rem;
    margin-top: 0.3rem;
    margin-bottom: 0.2;

}

#localizacao {

    width: 1.5rem;
    float :left;

}

#location {

    margin-left: 17rem;
    font-size: 18px;
    color : #6E7E7D

}

#balao {
    width : 1.5rem;

}

#aniv {
    margin-left: 17rem ;
    font-size:18px;
    color : #6E7E7D

}

#tt {

    margin-left: 17rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-bottom: 0%;
    margin-top: 5%;

}

#linha {

    margin-left: 17rem;
    color: rgb(0, 172, 237);
    margin-top: 0%;
    margin-bottom: 5%;

}

#ft_perfil {

    width: 4.3rem;
    height: 4.3rem;
    border-radius: 50%;
    padding-left :0.7rem;
    padding-top : 0.6rem

}

.sobremim {
    margin-left: 17rem;
    background-color: 	#141d26;
    width: 43rem;
    height: 26rem;
    border-radius: 1.6rem;

}

.sobremim p {

    color: white;
    font-family: Arial;
    font-size: 1.6rem;
    
}

#a1 {
    text-decoration: none;

}

#a2 {
    text-decoration: none;

}

.vidaacademica {
    margin-left: 17rem;
    background-color: #141d26;
    width : 43rem;
    height:6rem;
    border-radius: 1.6rem;

}

.vidaacademica p {
    color : white;
    font-family: Arial;
    font-size: 1.6rem;
    
}

#foto2 {

    width: 4.3rem;
    height: 4.3rem;
    border-radius: 50%;
    padding-left :0.7rem;
    padding-top : 0.6rem

}

#vidaacademica {
    text-decoration: none;

}

.redessociais {
    margin-left: 17rem;
    background-color: #141d26;
    width : 43rem;
    height:6rem;
    border-radius: 1.6rem;
    margin-bottom: 2rem;


}

.redessociais p {

    color : white;
    font-family: Arial;
    font-size: 1.6rem;

}

#ft3 {

    width: 4.3rem;
    height: 4.3rem;
    border-radius: 50%;
    padding-left :0.7rem;
    padding-top : 0.6rem

}

#a3 {

    text-decoration: none;
}

#crianca {
    width:13rem;
    margin-left: 8rem;

}

#agora {
    width: 13rem;
    margin-left: 1rem;


}

#print {

    margin-left: 17rem;
    width:44rem;
    
}

@media screen  and (max-width:415px) {

    body {

        margin-left: 0%;

    }

    #print {

        width:375px;
        margin-left: 0%;
        
    }

    #nome {

        color :white;
        font-size: 1rem;
        font-family:Arial, Helvetica, sans-serif;
        margin-left: 0.5rem;
        margin-bottom: 0.3rem;
        
    }
    
    #user {
    
        color : #6E7E7D;
        font-size: 15px;
        font-family:inherit;
        margin-left: 0.5rem;
        margin-top: 0.3rem;
        margin-bottom: 0.2;
    
    }
    
    #localizacao {
    
        width: 16px;
        float :left;
    
    }
    
    #location {
    
        margin-left: 0.5rem;
        font-size: 18px;
        color : #6E7E7D
    
    }
    
    #balao {
        width : 1.5rem;
    
    }
    
    #aniv {
        margin-left: 0.5rem ;
        font-size:16px;
        color : #6E7E7D
    
    }
    
    #tt {
    
        margin-left: 0.5rem;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        margin-bottom: 0%;
        margin-top: 5%;
        font-size:18px;
    
    }
    
    #linha {
    
        margin-left: 0.5rem;
        color: rgb(0, 172, 237);
        margin-top: 0%;
        margin-bottom: 5%;
    
    }
    
    #ft_perfil {
    
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        padding-left :0.7rem;
        padding-top : 0.6rem
    
    }
    
    .sobremim {
        margin-left: 0.5rem;
        background-color: 	#141d26;
        width: 360px;
        height: 20rem;
        border-radius: 1.6rem;
    
    }
    
    .sobremim p {
    
        color: white;
        font-family: Arial;
        font-size: 1.4rem;
        
    }
    
    #a1 {
        text-decoration: none;
    
    }
    
    #a2 {
        text-decoration: none;
    
    }
    
    .vidaacademica {
        margin-left: 0.5rem;
        background-color: #141d26;
        width : 360px;
        height:6rem;
        border-radius: 1.6rem;
    
    }
    
    .vidaacademica p {
        color : white;
        font-family: Arial;
        font-size: 1.4rem;
        
    }
    
    #foto2 {
    
        width: 4.3rem;
        height: 4.3rem;
        border-radius: 50%;
        padding-left :0.7rem;
        padding-top : 0.6rem
    
    }
    
    #vidaacademica {
        text-decoration: none;
    
    }
    
    .redessociais {
        margin-left: 0.5rem;
        background-color: #141d26;
        width : 360px;
        height:6rem;
        border-radius: 1.6rem;
        margin-bottom: 2rem;
    
    
    }
    
    .redessociais p {
    
        color : white;
        font-family: Arial;
        font-size: 1.4rem;
    
    }
    
    #ft3 {
    
        width: 4.3rem;
        height: 4.3rem;
        border-radius: 50%;
        padding-left :0.7rem;
        padding-top : 0.6rem
    
    }
    
    #a3 {
    
        text-decoration: none;
    }
    
    #crianca {
        width:9rem;
        margin-left: 1.8rem;
    
    }
    
    #agora {
        width: 9rem;
        margin-left: rem;
    
    
    }

    
}

@media screen  and (min-width:500px) and (max-width:1024px) {
    
    #nome {

        color :white;
        font-size: 2rem;
        font-family:Arial, Helvetica, sans-serif;
        margin-left: 1rem;
        margin-bottom: 0.3rem;
        
    }
    
    #user {
    
        color : #6E7E7D;
        font-size: 1.8rem;
        font-family:inherit;
        margin-left: 1rem;
        margin-top: 0.3rem;
        margin-bottom: 0.2;
    
    }
    
    #localizacao {
    
        width: 1.8rem;
        float :left;
    
    }
    
    #location {
    
        margin-left: 1rem;
        font-size: 1.8rem;
        color : #6E7E7D
    
    }
    
    #balao {
        width : 1.8rem;
    
    }
    
    #aniv {
        margin-left: 1rem ;
        font-size:1.8rem;
        color : #6E7E7D
    
    }
    
    #tt {
    
        margin-left: 1rem;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        margin-bottom: 0%;
        margin-top: 5%;
        font-size:2rem;
    
    }
    
    #linha {
    
        margin-left: 1rem;
        color: rgb(0, 172, 237);
        margin-top: 0%;
        margin-bottom: 5%;
    
    }
    
    #ft_perfil {
    
        width: 4.3rem;
        height: 4.3rem;
        border-radius: 50%;
        padding-left :0.7rem;
        padding-top : 0.6rem
    
    }
    
    .sobremim {
        margin-left: 1rem;
        background-color: 	#141d26;
        width: 47rem;
        height: 27rem;
        border-radius: 1.6rem;
    
    }
    
    .sobremim p {
    
        color: white;
        font-family: Arial;
        font-size: 2rem;
        
    }
    
    #a1 {
        text-decoration: none;
    
    }
    
    #a2 {
        text-decoration: none;
    
    }
    
    .vidaacademica {
        margin-left: 1rem;
        background-color: #141d26;
        width : 47rem;
        height:6rem;
        border-radius: 1.6rem;
    
    }
    
    .vidaacademica p {
        color : white;
        font-family: Arial;
        font-size: 2rem;
        
    }
    
    #foto2 {
    
        width: 4.3rem;
        height: 4.3rem;
        border-radius: 50%;
        padding-left :0.7rem;
        padding-top : 0.6rem
    
    }
    
    #vidaacademica {
        text-decoration: none;
    
    }
    
    .redessociais {
        margin-left: 1rem;
        background-color: #141d26;
        width : 47rem;
        height:6rem;
        border-radius: 1.6rem;
        margin-bottom: 2rem;
    
    
    }
    
    .redessociais p {
    
        color : white;
        font-family: Arial;
        font-size: 2rem;
    
    }
    
    #ft3 {
    
        width: 4.3rem;
        height: 4.3rem;
        border-radius: 50%;
        padding-left :0.7rem;
        padding-top : 0.6rem
    
    }
    
    #a3 {
    
        text-decoration: none;
    }
    
    #crianca {
        width:13rem;
        margin-left: 9rem;
    
    }
    
    #agora {
        width: 13rem;
        margin-left: 1rem;
    
    
    }
    

    #print {

        width:760px;
        margin-left: 1rem;
        
    }

}

