body{
    background-color : rgb(0, 172, 237);

}

#logo { 

    width : 8% ; 
    height : 8%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16%;
    margin-bottom: 5%;
}

.button {

    display: block;
    width: 9%;
    height: 2rem ;
    display: block;
    margin-right: auto;
    margin-left: auto ;
    background-color: white;
    border-radius: 2rem;
    text-align: center;
    flex-wrap: wrap;
    flex:1;
    
}

a {

    text-decoration: none;

}


.button p  {

    padding-top:.4rem;
    color: black;
    text-decoration: none;
    font-style:arial;
    flex-wrap: wrap;
    flex: 1;

}

@media screen and ( max-width :414px ) {

    #logo { 

        width : 15%; 
        height : 8%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40%;
        margin-bottom: 5%;
    }

    .button {

        display: block;
        width: 20%;
        height: 2rem ;
        display: block;
        margin-right: auto;
        margin-left: auto ;
        background-color: white;
        border-radius: 1rem;
        text-align: center;

    }


}